#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: green;
    font-style: italic;
}

#results-table th,
td {
  display: inline-block;
  width: 16.575%;
}

.card-header {
    background-color: lightgray;
    color: black;
}

body {
  background: url("../images/restaurant_icons.png");
  margin-bottom: 60px;
}

#spacer {
  padding-top: 140px;
  height: 140px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}